/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #292929;
}
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}

#togo-aside{
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

html{
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE 10+ */
}